@charset "UFT-8";
/* tipical device breackpoinsts 


pequenas telas: até 600px
celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px*/


@media screen and (min-width: 992px) and (max-width: 992px) {
  /* Versão para Tablet */
  body {
    background-image: url(../imagens/home.png);
  }
  main > section > img {
    width: 50vw;
    transform: translateY(19%);
  }
  main > section > div {
    width: 20vw;
  }
}

@media screen and (min-width: 992px) {
  /* versã tela grande */
  body {
    background-image: url(../imagens/home.png);
  }
  main > section > img {
    width: 20vw;
    transform: translateY(19%);
  }
  main > section > div {
    margin: auto;
    width: 40vw;
    margin-top: 20px;
  }
  header > h1 {
    font-size: 2em;
    
  }
  header > h2 {
    font-size: 1.8em;
   
  }
}
